In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: C:\Users\82104\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\82104\appdata\local\programs\python\python310\lib\site-packages (1.23.3)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: C:\Users\82104\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.max_column',None)

In [5]:
#데이터 프레임 만들기 방법

In [6]:
#딕셔너리 기반의 데이터 프레임 생성
pandas_data=pd.DataFrame({
    "1":['A',"B",'A',"B","A"],
    "2":[2.1,4.7,2.5,4.5,2.3],
    "3":[1500,1600,1700,1800,1900],
    "4":[12,22,32,25,31]
    
})

In [7]:
pandas_data

   1    2     3   4
0  A  2.1  1500  12
1  B  4.7  1600  22
2  A  2.5  1700  32
3  B  4.5  1800  25
4  A  2.3  1900  31

In [8]:
pandas_data

   1    2     3   4
0  A  2.1  1500  12
1  B  4.7  1600  22
2  A  2.5  1700  32
3  B  4.5  1800  25
4  A  2.3  1900  31

In [9]:
arr=np.array([["A",2.1,1500,12],
             ["B",4.7,1600,22],
             ["A",2.5,1700,32],
             ["B",4.5,1800,25],
             ["A",2.3,1900,31]])
pd.DataFrame(arr,columns=['1','2','3','4'])

   1    2     3   4
0  A  2.1  1500  12
1  B  4.7  1600  22
2  A  2.5  1700  32
3  B  4.5  1800  25
4  A  2.3  1900  31

In [10]:
pandas_data.loc[0:3]

   1    2     3   4
0  A  2.1  1500  12
1  B  4.7  1600  22
2  A  2.5  1700  32
3  B  4.5  1800  25